@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');


/* .berkshire-swash-regular {
    font-family: "Berkshire Swash", serif;
    font-weight: 400;
    font-style: normal;
  }
 */

/*  .montserrat-<uniquifier> {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  } */


*{
    margin: 0;
    box-sizing: border-box;
}

:root{
    --box-shadow:  3px 3px 3px 0px rgba(0, 0, 0, 0.289);
    --main-color: ##A96A59;
    --main-color-dark:rgb(49, 42, 41);
    --text-headings: #312a29;
    --text-headings-light: #EFF0EB;
    --text-color: #312a29;
    --text-color-darker: #312a29;
    --text-color-light:#EFF0EB;
    --bg-color: #EFF0EB;
    --bg-color-dark: #312a29;
    --bg-color-intermediate: #d7d8d2;
    --bg-nav-color: #EFF0EB;
    --box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.144);
    --danger: rgb(211, 0, 0);
}

body{
    font-family: "Montserrat", sans-serif;
    /* background-image: url(../img/fondo1.jpg); */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
}

em{
    font-style: normal;
}

strong{
    font-weight: 400;
}

main{
    max-width: 1200px;
    margin: auto;
}

#banner h1{
    /* font-family: "Berkshire Swash", serif; */
    font-family: "Croissant One", serif;
    font-weight: 400;
    font-style: normal;
}

picture, video, svg, canvas{
    max-width: 100%;
    display: block;
}

input, button, textarea, select{
    font: inherit;
}

ul{
    padding: 0;
    list-style: none;
}

a{
text-decoration: none;
color: var(--text-color);
}

tr{
    border: 1px solid var(--bg-color-dark);
    padding-block: 1rem;
}

/* .header{
    max-width: 1200px;
    background-color: var(--bg-color) ;
    margin: auto;
} */

.tabla-responsive{
    overflow-x: auto; /* Permite el desplazamiento horizontal */
    -webkit-overflow-scrolling: touch; /* Habilita desplazamiento suave en dispositivos móviles */
}

table {
    width: 100%; /* Hacer que la tabla ocupe el 100% del ancho del contenedor */
    border-collapse: collapse; /* Quita los bordes dobles */
}

th, td {
    border: 1px solid #ddd; /* Bordes de la tabla */
    padding: 8px; /* Relleno de celdas */
    text-align: left; /* Alineación de texto */
}

th {
    background-color: var(--bg-color-intermediate); /* Fondo del encabezado */
}

nav ul{
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
gap: 1rem;
}

.nav-user-icon{
    width: 2rem;
    height: 2rem;
}

.nav-link--user{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    font-weight: 600;
    color: var(--text-color);
}

.navbar-brand span{
    font-family: "Croissant One", serif;
}

.nav-link {
    padding: 0px ;
}

header{
    /* max-width: 1200px; */
    /* background-color: var(--bg-color-dark); */
    background-blend-mode: darken;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    width: 100%;
}

h2{
    color:#312a29;
}

section{
    margin-inline: auto;
    max-width: 95%;
    margin-block: 3rem;
}

#banner{
    background-image: url(../img/fondo4.jpg);
    background-color: #312a29e8;
    background-blend-mode: darken;
    display: flex;
    z-index: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    color: var(--text-color);
}

/* Home */

#banner h1 span{
    font-size: 8rem;
    color: var(--text-color-light);
}

#banner p{
    color: var(--text-color-light);
    text-align: center;
    font-style: italic;
    font-weight: 600;
}

#banner .cta{
    display: block;
    background-color: var(--bg-nav-color);
    border-radius: 1rem;
    color: var(--text-color-darker);
    text-align: center;
    width:fit-content;
}


#historia{
    width: 100%;
    background-color: #eff0ebbe;
    background-image: url(../img/fondo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    background-blend-mode: lighten;
    padding: 4rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
}

#historia div{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}

#categorias{
    text-align: center;
    margin-block: 4rem;
}
/* Categorías de productos - Home */
.categoriasBox {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 2rem;
}

.cardCategoria{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding:1rem;
    min-height: 30vh;
    background-color: var(--bg-color);
    box-shadow: var(--box-shadow);
    border-radius: 1rem;
}

.cardCategoria img{
    object-fit: contain;
    border-radius: 1rem;
    width: 80%;
}
#cafeMolido{
    margin-inline:4rem ;
}

#cafeMolido div{
   display: flex;
   flex-wrap: nowrap;
   margin-block: 1rem;
   gap: 1rem;
}

#nav-admin{
    margin-top: 2rem;
}

#nav-admin .navTags{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.navtags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 3rem;
    padding-block: 1rem;
    margin-top: 3rem;
}

.navTags--center{
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap; /* Aseguramos que los elementos se envuelvan */
    margin-top: 3rem;
}

.navTags--left{
    display: flex;
    justify-content: left;
    gap: 1rem;
}

 .navTags li a, .navTags__btn{
    background-color: var(--bg-color);
    padding: .2rem;
    padding-inline: 1rem;
    text-align: center;
    /* box-shadow: var(--box-shadow); */
    border-radius: 2rem;
    font-weight: 600;
}

.navTags__btn--primary{
    background-color: var(--bg-color-dark);
    color: var(--text-color-light);
}

.navTags li a.active{
background-color: var(--bg-color-dark);
color: var(--text-color-light);
}

.navTags li .btn-vista{
    /* background-color: var(--bg-color-dark); */
    color: var(--bg-color-dark);
    border: var(--bg-color-dark) 1px solid;
    background-color: transparent;
}

.navTags li a:hover{
    background-color: var(--bg-color-dark);
    color: var(--bg-color);
}

/* Cards */
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
}

.card button{
    padding: .5rem;
    border-radius: 1rem;
    border: var(--main-color) 1px solid;
    margin-top: 3rem;

}

.card button:hover{
    font-weight: 600;
}

.card:hover img{
    filter: brightness(110%);
 }



/* Catálogo de café molido - Home */
.catalogoMolido{
    display: flex;
    gap: 1rem;
    margin-block: 5rem;
}

.catalogoMolido .descripcion{
display: block;
}

.catalogoMolido .card .info-extra{
    display: none;
}

.catalogoMolido .card{
 height: auto;
 background-color: var(--bg-color-intermediate);
 margin-block: 2rem;
}

.catalogoMolido .card img{
    max-width: 90%;
    border-radius: 1rem;
    margin-inline: auto;
}

.catalogoMolido .card:hover{
    background-color: var(--bg-color-dark);
    color: var(--text-color-light);
}


.catalogoMolido .info-extra .card:hover{
display: none;}

.catalogoMolido .info-tarjeta h3{
    font-size: 1rem;
}

.catalogoMolido .card:hover .info-tarjeta h3{
    font-size: 1rem;
    color: var(--text-headings-light);
}

.catalogoMolido p, .catalogoMolido button{
    display: none;
}
.catalogoMolido .btnDetalle{
    display: block;
    position: absolute;
    z-index: 1;
    margin: auto;
    padding: 0px;
    min-width: 12%;
    height: 15vh;
}

.btnDetalle span{
    visibility: hidden;
}


/* Productos */
.btn{
    display: flex;
    background-color: var(--bg-color-dark);
    color: var(--text-color-light);
    width:max-content;
    border-radius: 1rem;
    padding-inline:2rem;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    z-index: 2;
}


.btn.btn--light{
    background-color: var(--bg-color-intermediate);
    color: var(--text-color-darker);
}

.formulario-usuario__btn{
    margin-top: 1rem;
}

.alternativa-usuario__btn{
    background-color: var(--bg-color-intermediate);
    color: var(--bg-color-dark);
    margin-top:1rem;
    border: 1px solid var(--bg-color-dark);
}

.formulario-usuario__mensaje--existoso{
    font-weight: 500;
    color: green;
}

.formulario-usuario__mensaje--error{
    font-weight: 500;
    color: red;
}

.list-checkbox{
    display: flex;
    justify-content: left;
    align-items: center;
}

.list-checkbox__checkbox{
    display: none;
}

.list-checkbox__checkbox + label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 16px;
}

.list-checkbox__checkbox + label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid var(--bg-color-dark);
    border-radius: 4px;
    background-color: var(--bg-color);
    transition: background-color 0.3s, border-color 0.3s;
}

/* Cambia el color cuando el checkbox está seleccionado */
.list-checkbox__checkbox:checked + label::before {
    background-color: var(--bg-color-dark); /* Color de fondo cuando está seleccionado */
    border-color: var(--bg-color-dark); /* Cambia el borde también */
}

/* Cambia el color de la marca de verificación (tick) */
.list-checkbox__checkbox:checked + label::after {
    content: '\2713'; /* El símbolo de la marca de verificación */
    position: absolute;
    left: 4px;
    top: 0;
    font-size: 14px;
    color: var(--text-color-light);
    transition: all 0.3s;
}

.productos{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top:1rem;
    justify-content: space-evenly;
}

.productos .card{
    height: auto;
    width: 30%;
    /* min-height: 55vh; */
    /* max-height: 60vh; */
    background-color: var(--bg-color-intermediate);
    margin-bottom: 2rem;
    display: flex;
    /* max-height: 35vh; */
    padding-bottom: 2rem;
    position: relative;
}

.productos .card h2{
    font-size: 1.2rem;
    display: block;
    max-height: 2.5rem;
    margin-block: 1rem;
}

 .productos .card img{
    max-width: 100%;
   /*  max-width: 80%; */
    border-radius: 1rem 1rem 0 0;
    /* margin-top: -5rem; */
   /*  margin-bottom: 3rem; */
}

.productos .info-tarjeta{
    /* height: 40vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* min-height: 15vh; */
    justify-content: space-around;
    color: var(--text-color-darker);
}

.productos .descripcion{
    min-height: 7rem;
    text-align: center;
    display: none;
    margin-block: 1rem;
    margin-inline: 2rem;
}

.productos .card:hover .descripcion{
    display: block;
    color: var(--text-color-light);
}

.productos button{
    display: block;
    z-index: 2;
}

.productos .info-extra{
    display: none;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    border-radius: 1rem;
    color: var(--text-color-light);
    opacity: 70%;
}

.productos .info-extra ul li{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding-block:.5rem;
}

.productos .info-extra ul li span{
    font-weight: 600;
}

.productos .precio{
    font-size: 1.5rem;
    font-weight: 600;
}

.productos .card:hover{
    background-color: var(--bg-color-dark);
}

.productos .card:hover h2{
    color: var(--text-headings-light);
}

.productos .card:hover .precio{
    color: var(--text-color-light);
}

.productos .card:hover .btn{
    color: var(--text-color);

    background-color: var(--bg-color);
}

.productos .card:hover .info-extra{
    display: none;
}

.productos .btnDetalle {
    display: block;
    position: absolute;
    z-index: 1;
    margin: auto;
    padding: 0px;
    height: 100%;
    width: 100%;
}

.productos .btnDetalle span{
    visibility: hidden;
}


#detalle-producto{
    background-color: var(--bg-color-intermediate);
    width: 70vw;
    margin: auto;
    border-radius: 2rem;
    padding: 2rem;
    border-radius: 1rem;
    margin-block: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 3rem;
}

#detalle-producto div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-evenly;
    width: 80%;
}

#detalle-producto img{
   width: 40%;
   height: 100%;
border-radius: 1rem;
}

#detalle-producto button{
    display: block;
    padding: .5rem;
    border-radius: 1rem;
    margin-top: 3rem;
    border: 1px var(--bg-color-dark) solid;
    width: 80%;
}

#detalle-producto .precio{
font-size: 3rem;
}



#detalle-producto ul{
   display: flex;
}
.especificaciones{
    display: flex;
    flex-direction: row!important;
    justify-content: left!important;
    width: 24px;
}

.vegano span, .aptoCeliacos span{
    display: none;
 }

.vegano{
width: 2rem;
height: 2rem;
background-image: url(../img/vegano.png);
background-repeat: no-repeat;
background-size: cover;
margin-block: .5rem;
}

.aptoCeliacos{
width: 2rem;
height: 2rem;
background-image: url(../img/sintacc.png);
background-repeat: no-repeat;
background-size: cover;
margin-block: .5rem;
}



#contacto{
    height: auto;
    width: 80%;
    margin: auto;
    margin-block: 5rem;
    background-image: url(../img/fondo7.jpg);
    background-color: #312a295d;
    background-blend-mode: darken;
    background-size:cover ;
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
    padding: 4rem;
}

#contacto h2{
    color: var(--text-color-light);
    margin-bottom: 1rem;
}

#formEnviado{
    background-color: var(--bg-color);
    height:auto;
    width: 50%;
    margin: auto;
    margin-top: 15vh;
    padding: 3rem;
    border-radius: 2rem;
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

#formEnviado a{
display: block;
padding: 1rem;
background-color: var(--bg-color-dark);
color: var(--text-color-light);
border-radius: 2rem;
}

.error-message{
    display: inline-block;
    padding: .5rem;
    background-color: rgb(172, 0, 0);
    border-radius: .3rem;
    color: var(--bg-color-intermediate);
}

form{
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 95%;
    justify-content: center;
    gap: .5rem;
    color: var(--text-color);
    background-color: #eff0eb9a;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: var(--box-shadow);

}

form input, form textarea{
    height: 2.5rem;
    border-radius: 1rem;
    border: none;
    color: var(--text-color);
    padding-left: 1rem;
}

form textarea{
    padding-top: .3rem;
    resize: none;
    height: 5rem;
}

form input:focus{
    border: 1px solid var(--main-color);
}

form label{
    font-weight: 600;
    margin-left: 1rem;
}

form select{
    height: 2.5rem;
    border-radius: 1rem;
    border: none;
    padding-inline: 1rem;
    border: 1px solid var(--bg-color-intermediate);
    background-color: #fff;
    font-size: 1rem;
    color: var(--text-color);
    transition: all 0.3s ease;
}

/* form select:focus {
    outline: none;
    border: 2px solid var(--bg-color-dark);
}

form select option{
    padding: 1rem;
    background-color: #fff;
    font-size: 1rem;
    color:var(--text-color);
}

form select option:hover {
    background-color: var(--bg-color-dark);
    color: #fff;
}


form select:focus option:checked {
    background-color: var(--bg-color-dark);
    color: #fff;
}
 */


/* Carrito */
.carrito-prod{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.carrito-card{
    flex-direction: row;
    background-color: white;
    box-shadow: var(--box-shadow);
    border-radius: 2rem;
    padding: 1rem;
}

.carrito-card ul{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.carrito-card ul li{
    display: inline-block;
    width: 20%;
}

.carrito-card ul li img{
width: 70%;
border-radius: 10rem;
}

.carrito-total{
    display: flex;
    flex-direction: row-reverse;
    justify-content:space-evenly;
    align-items: center;
    gap: 2rem;
}
.carrito-total .btn{
   margin: 0px;
}
.carrito-total p{
display: inline-block;
}

footer{
    background-color: var(--bg-color-dark);
    display: flex;
    flex-direction: column-reverse;
    color: var(--text-color-light);
    align-items: center;
    text-align: center;
    padding-bottom: 2rem;
    margin-top: 8rem;
    margin-bottom: 0px;
    width: 100%;

}

footer a{
    color: var(--text-color-light);
}

.redes ul{
    display: flex;
    flex-direction: row;
    width: 10rem;
    gap: 2rem;
}

.redes ul li a{
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    width: 2rem;
    height: 2rem;
}


.redes ul li:first-of-type a{
    background-image: url(../img/instagram.png);
}

.redes ul li:nth-of-type(2) a{
    background-image: url(../img/facebook.png);
}

.redes ul li:last-of-type a{
    background-image: url(../img/whatsapp.png);
}


.redes span{
    display: none;
}

.creator{
    background-color: var(--bg-color-intermediate);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border-radius: 2rem;
}

.creator img{
    width: 250px;
}

.img-miniatura{
    width: 5rem;
}

.list-btn{
    display: flex;
    flex-direction: row;
    gap: .2rem;
    flex-wrap: wrap;
    /* flex-wrap: wrap; */
}

.btn-slim{
    padding-block:.5rem;
}

.btn-slim.warn{
    background-color: var(--danger);
}

.readonlyInput{
    border: none;
    background-color: none;
    display: inline;
    color: grey;
}

.container{
    width: 100%;
}

#ty-page{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.ty-page__details-container{
    background-color: var(--bg-color-intermediate);
    padding: 1rem;
    border-radius: 1rem;
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.ty-page__details{
    background-color: #fff;
    padding:1rem;
    width: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 1rem;
}

.ty-page__details p{
    margin-bottom: 0;
}

.ty-page__payment-fulfilled{
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ty-page__payment-fulfilled .btn{
    margin: auto;
}

#ordenes{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;
}

.order{
    background-color: var(--bg-color-intermediate);
    padding: 1rem;
    width: 250px;
    border-radius: 1rem;
}

.order__number{
    font-size: 1.3rem;
    font-weight: 500;
}

.order__headline{
    font-size: 1.1rem;
    font-weight: 500;
}
.order__products{
    list-style: circle inside;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: .1rem;
}

.order__product{
    padding-left:1rem;
    width: fit-content;
    border-radius: 1rem;
    /* margin-left: 1rem; */
}

.order__price{
    padding: .2rem;
    margin-top: 1rem;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1.2rem;
}

.order__actions{
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}

.order__btn{
font-size: 1rem;
padding-inline: .5rem;
}

#ordenes .btn.order__btn.order__btn--secondary{
    background-color: var(--danger);
    color: #fff;
    font-weight: 600;
}

@media screen and (max-width: 768px){
    .navTags.navTags--center{
        margin-top: 3rem;
    }
    .productos .card{
        width: 40%;
    }
}

@media screen and (min-width: 320px) and (max-width: 600px){
    .container{
        max-width: 700px;
        margin: auto;
        /* height: 100vh; */
    }

    .card .btn{
        margin-top: 0px;
    }

/*     section{
        text-align: center;
    } */

    #banner{
        text-align: center;
        height: 80vh;
        padding: 2rem;
    }

    #banner h1 span{
        font-size: 5rem;
    }

    #historia div{
        width: 80%;
        margin: auto;
    }

    #historia div p:last-of-type{
        display: none;
    }

    .categoriasBox{
        flex-direction: column;
    }

    .cardCategoria{
        padding: 1.5rem;
    }

    .cardCategoria h3{
        font-size: 2rem;
    }

    .navCategorias ul{
        width: 80%;
        flex-wrap: wrap;
        margin: auto;
        margin-bottom: 3rem;
    }

    .navCategorias a{
        padding: .3rem!important;
        min-width: auto!important;
    }


    .productos{
        flex-wrap: wrap;
        align-items: center;
        gap: 1rem;
    }

    .productos .card{
        width: 90%;
        max-width: 400px;
        height: fit-content;
        padding: 1rem;
        margin-bottom: 0px;
    }

    .productos .card:hover .info-tarjeta{
        color: var(--bg-color)!important;
    }

    .productos .btn{
        width: 100%;
        padding: .5rem;
        font-size: 1rem;
    }


    

    #contacto{
        height: 80%;
        background-image: url(../img/fondo8.jpg);
    }

    #contacto form{
        width: 100%;
        height: 90%;
    }

    #contacto form input[type=submit]{
        padding-top: .75rem;
        padding-bottom: 1.5rem;
    }

    #contacto form input{
        padding: 1rem;
    }

    #carrito{
        height: auto;
    }

    .ty-page__details-container,  .ty-page__payment-fulfilled{
        width: 90%;
    }

    #ordenes{
        display: flex;
        justify-content: center;
    }

}

